.menu {
  display: flex;
  position: relative;
  background-color: #323232;
  color: white;
  width: 100%;
  max-height: 100%;
  height: 2em;
  text-align: left;
  padding: 0 0.5em 0 0.5em;
}

.menu * {
  box-sizing: border-box;
  transition: all 0.25s;
}

.menu .menuitem {
  position: relative;
  cursor: pointer;
  color: white;
  width: 100%;
  padding: 0.25em 1.5em 0.25em 1.5em;
  text-align: left;
  opacity: 1;
}

.menu .menuitem:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.menu .menuitem .toggled {
  display: inline-block;
  position: absolute;
  left: 0.65em;
  top: 0.5em;
  transform: rotate(45deg);
  height: 0.75em;
  width: 0.35em;
  border-bottom: 0.15em solid white;
  border-right: 0.15em solid white;
}

.menu .menuitem .group {
  background-color: #323232;
  position: absolute;
  left: 0px;
  top: 100%;
  width: fit-content;
  white-space: nowrap;
  transform-origin: top;
}

.menu .menuitem .menuitem .group {
  left: 100%;
  top: 0;
}

.menu .menuitem.main {
  color: white;
  position: relative;
  width: fit-content;
  min-width: 4em;
  text-align: center;
  padding: 0.25em 1em 0.5em 1em;
  height: 100%;
}

.menu .menuitem .arrow_right {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 0;
  left: 1em;
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.35em solid white;
}

.menu .checked {
  color: red !important;
}

.menu .separator {
  border-bottom: 1px solid white;
  width: 100%;
  height: 1px;
  margin: 0.45em 0 0.25em 0;
}

.menu .collapsed.group {
  display: none;
  z-index: 0;
}

.menu .collapsed.group.animate {
  display: block;
  transform: scaleY(0);
  opacity: 0;
}
